body{
    position: relative;
    margin:0;
    padding:0;
    background-color:#09091e;
    color:white;
    font-family:  sans-serif;
}
section{
    margin-top:29px;
    /* border:1px solid white; */
}
nav>div{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    margin-bottom: 2rem;
}
.logo-favourites{
  display:flex;
  justify-content: space-between;
  /* border:1px solid red; */
  /* width:35%; */
  
}
.link{
    margin-top:1.5rem;
    margin-left:2rem;
    margin-right: 2rem;
}

.logo-img{
    /* border:1px solid green; */
    margin:0.5rem 2rem;
}
.logo-img img{
    width:50px;
  height:40px;
}
.logo-heading{
    display: inline-block;
    width:50px;
    overflow: break-word;
    font-size:1.2rem;
    font-weight:strong;
}
.search-bell-profile{
    display:flex;
    justify-items: baseline;
    /* border:1px solid goldenrod; */
}
.search-bell-profile >div{
  display: inline-block;
}

.search-bell-profile input{
    padding:0.2rem;
    font-size:1rem;
    border:1px solid black;
    border-radius: 12px 12px;
}
.search-form{
    margin:1rem 2rem;
}
.search-bell-profile button{
    padding:0.5rem;
    border:0;
    margin-left:-2rem;
    background: transparent;
}
.micro{
    margin-right:-1rem;
}
.notification{
   font-size: 1.5rem;
   margin-top: 1rem;
   margin-right:1rem;
}
.profile-img{
    margin:0.5rem 0.8rem;
    width:50px;
    height:45px;
}
.profile-img img{
    width:100%;
    height:100%;
    border:1px solid grey;
    border-radius: 50%;
}
nav a{
  text-decoration: none;
  color:white;
}
.music-container{
    border: 1px solid white;
    padding:0;
}
main{
  display:inline-block;  
 width:60%;
 margin-left:11%;
 margin-right:2%;
}

/* Queue */

aside{
    display:inline-block;
    width:20%;
    vertical-align: top;
}
.section{
    margin-top: 2rem;
}
#queue-bttn{
  position: relative;
}
.section-heading{
    display: flex;
    justify-content: space-between;
    font-size:1.5rem;
    font-weight: bold;
    align-items: baseline;
    margin-bottom: 1rem;
    padding-right:1rem;
}
.section-heading h4,h6{
    display: inline-block;
    margin:0.2rem;
}
.section-heading i{
    margin-left: 0.1rem;
    font-size: 0.7rem;
    transform: rotate(270deg);
    color: white;
}
section ul,li{
    margin:0;
}

.queue-list-box{
    position: relative;
    display: flex;
    width:100%;
    justify-content: space-between;
    /* border:1px solid red; */
    height:2rem
}

.queue-img{
    position: relative;
  width:2rem;
  height:2rem;
  /* border:1px solid goldenrod; */
}

.queue-img:hover .play-bttn{
    opacity: 1;
}
.queue-img:hover .artist-img{
    opacity: 0.5;
}

.queue-img img{
    width:100%;
    height:100%;
}
.music-name{
  width: 65%;
  font-size: 1rem;
  margin-left: 0.4rem;
  /* border:1px solid red; */
}
.sub-part{
    font-size: 0.7rem;
    /* padding:0.2rem; */
    margin-top: 0.7rem;
    color:lightgray;
}
.queue-heart{
    position: relative;
    padding:0.3rem 0.5rem;
    width:15%;
    /* align:right; */
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.1rem;
}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 0.6rem;
  padding-top:1rem;
  padding-right:0.4rem;
  margin-right: 0.1rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  /* background-color: indigo; */
}
.Queue-list li{
  margin-bottom: 1rem;
}
.more{
    position:relative;
    padding:0.3rem 0.5rem;
    width:10%;
    height:1px;
}
.more-bttn,.icon-bttn{
  background: none;
  border: 0 none;
  line-height: normal;
  color:white;
  cursor: pointer;
 }

/* .more:hover .more-menu {
    
     opacity:1;
 } */
 

.more-menu {
    position: absolute;
    top:-1%;
    right:70%;
    width:165px;
    /* height:104px; */
    font-size: 1rem;
    z-index: 900;
    float: left;
    padding: 10px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    /* border-radius: 4px; */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    /* visibility: hidden; */
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    /* pointer-events: none; */
    color:black;
}
.more-menu-items{
  list-style: none;
  margin: 0.4rem;
  padding: 0;
}
.more-menu-item{
    cursor:pointer;
    border-bottom:1px  solid black; 
    padding:0.2rem;
    text-align:left;
}
.more-menu-item i{
    margin-right:0.5rem;
    color:black;
}
.more-menu-item:hover {
    background-color: rgb(148, 155, 161);
}

/* Music Header */

.music-tiles{
    display:flex;
    justify-content: space-between;
}
.music-tiles div{
    width:291.675px;
    height:156px;
    transition: width 2s, height 2s, transform 2s,ease-in-out;
}
.middle-tile{
    transform: scale(1.7,1.3);
    transition: width 2s, height 2s, transform 2s,ease-in-out;
    z-index:1;
 }

/* .music-tiles div:hover{
   transform: scale(1.7,1.3);
   z-index:1;
} */
.music-tiles div img{
    width:100%;
    height:100%;
}

/* Fotter */

footer{
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    /* height:7vh; */
    border: 1px solid white;
    background-color: burlywood;
}

#play-music-footer{
    display:flex;
    margin-left:5%;
    height: auto;
    border: 1px solid white;
}
footer .queue-list-box{
    /* height:100% */
    /* display: inline-block; */
   width:8rem;
   margin-top:0.4rem;
   margin-bottom: 0.4rem;
   font-size: 1rem;
}
footer .music-name{
   overflow: hidden; 
  font-size: 1rem;
  color:black;
}
footer .sub-part{
    font-size: 0.8rem;
    color:black;
}
footer li,ol{
    padding:0;
    margin: 0;
}
.audio-container{
  margin: auto;
  padding:0;
  width:50%;
}
audio{
    width:100%;
    height:100%;
    border:0;
}
.horizontal-list {
    display:inline-block;
    color:red;
    width:100%;
    height:50%;
    /* border:1px solid firebrick; */
    margin:auto;
    padding:0;
    text-align: center;
}
.horizontal-list li{
    display:inline-block;
    margin-right:1.5rem;
    padding:0;
}
.horizontal-list li a{
    text-decoration: none;
}
.song-time-range input{
  /* border:1px solid green; */
  display: inline-block;
}

.slider {
    display: inline-block;
    -webkit-appearance: none;
    width: 80%;
    height: 7px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  .slider::-webkit-slider-runnable-track {
    width: 20%;
    height: 7px;
    /* background-color:green; */
    border: none;
    border-radius: 3px;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  .start-time,.end-time{
      display: inline-block;
    font-size:0.8rem;
  }
 
 #side-bar div{
     display:inline-block;
 }
.volume-bar .slider
{
    margin-left: 0.9rem;
    margin-right: 0;
    width: 70%;
}

/* Latest Relaease */

.Latest-Release-container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.Latest-Release-container>div{
    display: flex;
  min-width:200px;
  width:49%;
  height:80px;
  /* border:1px solid white; */
  margin-bottom: 0.8rem;
}
.Latest-Release-container .queue-img{
    width:15%;
    min-width:72px;
    height:100%;
}
.Latest-Release-container .music-name{
    margin-left:0.5rem;
    font-size:1rem;
}
.Latest-Release-container .sub-part{
    display: block;
    padding:0;
    margin-top:1rem;
    color:white;

}

/* Popular Artist */

.artist-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:auto;
    width:100%;
    /* border:1px solid white; */
    /* margin-bottom: 2rem; */
}
.artist-details{
   position: relative;
   transition:0.2s;
   width:16%;
   /* border:1px solid white; */
}
.artist-details:hover .play-bttn {
  opacity: 1;
}
.artist-details:hover .artist-img{
    opacity: 0.5;
}
.artist-details img{
    width:100%;
    height:100px;
    border-radius:50%;
}
.artist-name{
    font-size: 1rem;
    text-align: center;
}


/* Moods */

.moods{
    width:100%;
    background-color: lightslategray;
    border:1px solid white;

}
.moods-continer{
    margin:1rem;
    /* border:1px solid white; */
    display:flex;
    justify-content: space-between;
}
.moods-continer>div{
    height:5rem;
    width:15%;
}
.moods-continer>div:not(:first-child) {
    position:relative;
    border:1px solid black;
    border-radius: 50%;
    height:4rem;
    width:12%;
}
.stations{
    border-radius: 0;
}
.stations img{
    width:100%;
    height:100%;
}
.love img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.mood-name{
    position:absolute;
    top:30%;
    left:35%;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Types of Music */

.types-continer{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.types-box{
  position: relative;
  width:32%;
  height:8rem
}

.types-box img{
    width:100%;
    height:100%;
}
.type-name{
    position:absolute;
    left:30%;
    top:33%;
    font-size:2rem;
}


.Latest-English-conatiner{
    width:100%;
    height:148px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 44px; */
    /* border:1px solid white; */
}
.Latest-English-box{
    width:16%;
  /* border:1px solid white; */
}
.Latest-English-box img{
    height:75%;
    width:100%;
}
.song-detail{
    text-align: left;
    font-size: 0.8rem;
}


/* Play button on image on hover */
.play-bttn{
 position:absolute;
 left:35%;
 top:30%;
 opacity:0;
}

a{
    text-decoration: none;
    color:white;
}
.Latest img,aside img{
border-radius: 0.3rem;
}
/* Artist-Page */
.about-artist{
    background-color: rgba(2, 22, 53, 0.418);
   height:18rem;
   border:1px solid white;
   width:100%;
   color:lightgray;
}
.about-artist img{
  height:100%;
  width:40%;
  margin-right:1rem;
}
.detail-artist{
  display:inline-block;
  width:57%;
  height:100%;
  /* border:1px solid red; */
  vertical-align: top;
}
.name h3{
    font-size: 1.5rem;
    margin-bottom: 0;
    display:inline-block;
    margin-right:20rem;
}
.detail-artist .sub-part{
    display:block;
    color:lightgray;
}
.para-artist{
    font-size: 0.7rem;
    overflow: hidden;
    line-height: 1rem;
    word-spacing:3px;
    margin-bottom:1.5rem;
}
.play-all{
    background: linear-gradient(to right, #33ccff 0%, #ff66ff 100%);
    color:white;
    border:0;
    font-size: 0.8rem;
    padding:0.4rem 1.5rem;
    cursor: pointer;
}
.follow{
 margin-left:4rem;

}
.followers{
    display: inline-block;
    text-align: right;
   
}
.artist-songs ol li{
   height:3rem;
   width:100%;
   background-color: darkslategray;
   padding:0.2rem;
}
.artist-songs .queue-img{
    width:3rem;
    height:3rem;
}
.artist-songs .queue-img img{
    width:100%;
    height:100%;
}
.artist-songs .music-name{
    font-size:1rem;
    font-weight: bold;
   width:81%;
   /* margin:0; */
}
.artist-songs .sub-part{
    font-size:0.7rem;
    color:lightgray;
}
.artist-songs a{
    margin-right:1rem;
    color:lightgray;
}
/* Similar Artist */
.similar-list-box{
    /* position: relative; */
    width:100%;
    height:5rem;
    margin-bottom: 1rem;
}
.similar-list-box >div{
    display:inline-block;

}
.similar-list-box img{
    width:32%;
    height: 100%;
}
.album-name{
    width:42%;
    vertical-align: top;
    margin:0.7rem;
}
.three-dots{
    vertical-align: top;
}
.time{
    margin-top: 0.2rem;
    font-size:0.8rem;
    display: block;
    color:lightslategray;
}
.view-all{
    color:lightgray;
    font-size: 0.7rem;
}
.padding-t-7{
    padding-top:0.7rem
}
@media only screen and (max-width: 1150px) {
   .about-artist img{
       width:37%;
       margin-right: 0;
   }


} 
@media only screen and (max-width: 1000px) {
  .para-artist{
    font-size: 0.8rem;
    margin-bottom:.5rem;
    word-wrap: break-word;
  }
 
 .follow{
   margin-left:2rem;
  }
}
@media only screen and (max-width: 900px) {
    
    main {
      margin-left: 5%;
    }
    aside{
        width:30%;
    }
    .type-name{
        left:23%;
        font-size: 1.5rem;
    }
    .mood-name{
        left:23%;
        font-size: 1rem;
    }
    .para-artist{
        line-height:0.8rem;
        font-size: 0.8rem;
        margin-bottom:0;
      }
     
     .follow{
       margin-left:0.5rem;
      }
  }
  @media only screen and (max-width:700px) {
    .Latest-Release-container>div{
        width:100%;
    }
    .hide{
        width:0;
        height:0;
        overflow: hidden;
       opacity:0;
    }
    .artist-details , .Latest-English-box{
        width:24%;
    }
    .link{
        margin-left:0.5rem;
        margin-right: 0.1rem;
    }
    .profile-img{
        margin:0.5rem 0.2rem;
    }
    .queue-heart{
        width:19%;
    }
  }
  @media only screen and (max-width:733px) {
     .artist-main{
         width:90%;
     }
     .artist-aside{
       margin-left:5%;
       width:47%;
     }
  }
  @media only screen and (max-width:530px) {
    main{
        margin-left: 0%;
        width:62%;
        margin-right:2%;
    }
    aside{
        width:35%;
    }
    .logo-img{
        /* border:1px solid green; */
        margin:0.5rem 0rem;
    }
    .search-form{
        margin:1rem 0rem;
    }
    .about-artist{
        width:100%;
    }
}  
    @media only screen and (max-width:450px) {
        main{
            margin-left: 0%;
            width:100%;
            margin-right:2%;
        }
        aside{
            width:100%;
        }
    }